#root {
  max-width: 1280px;
  margin: 0 auto;
}

.square {
  background: #fff;
  border: 0.5vmin solid #888;
  float: left;
  font-size: 8vmin;
  font-weight: bold;
  height: 16vmin;
  width: 16vmin;
  margin-right: 0.3vmin;
  margin-top: 0.3vmin;
  padding: 0;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .square {
    background: #222;
  }
}
