#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.square {
  background: #fff;
  border: 0.5vw solid #888;
  float: left;
  font-size: 8vw;
  font-weight: bold;
  height: 15vw;
  width: 15vw;
  margin-right: 0.3vw;
  margin-top: 0.3vw;
  padding: 0;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .square {
    background: #222;
  }
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
